[Unit]
Description=NodeJS Team 2 Exercise Tracker App
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2025/project3/t2/
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

